html {
    font-family: "Roboto", sans-serif;
}

.root {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 3px 8px 0 rgba(133, 133, 133, 0.212);
    /* padding: 5px; */
    margin: 10px;
    width: 90%;
    justify-content: space-evenly;
    max-width: 400px;
    min-width: 350px;
}
.card div {
    margin: 5%;
}

.card .cardHeader {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.card .cardBody {
    /* margin: 5%; */
    display: grid;
    grid-template-columns: 33% 65%;
    column-gap: 2%;
    align-items: center;
}
.card .cardBody #results {
    grid-column-start: 1;
    grid-column-end: 3;
    display: none;
    overflow: hidden;
    margin: 5% 0;
    line-height: 23px;
}

.card .cardFooter {
    margin: 5%;
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
}

input[type="text"],
input[type="datetime-local"] {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 255, 0.459);
}

.btn {
    padding: 8px 16px;
    min-width: 48px;
    min-height: 16px;
    background: transparent;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 2%;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.btn:focus {
    outline: none;
    background-color: #501aff;
    border: 1px solid #501aff;
}
.btn::after {
    content: "";
    opacity: 0;
    transition: 500ms;
    box-shadow: 0 3px 8px 0 rgba(65, 65, 65, 0.233);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.btn:hover::after {
    opacity: 1;
}

.btn-primary {
    border: 1px solid blue;
    background-color: blue;
    color: white;
}
.btn-primary:hover {
    border: 1px solid rgb(60, 60, 255);
    background-color: rgb(60, 60, 255);
}

.btn-secondary {
    border: 1px solid rgb(183, 0, 255);
    color: rgb(183, 0, 255);
    background-color: white;
}
.btn-secondary:focus {
    border: 1px solid rgb(138, 0, 192);
    color: rgb(183, 0, 255);
    background-color: white;
}
.btn-secondary:hover {
    background-color: rgb(183, 0, 255);
    color: white;
}
/* ===========   ERRORS   =========== */

.inputErr {
    transition: 500ms;
    border: 1px solid red !important;
}
.errmsg {
    font-size: 10px;
    color: red;
}
/* ===========     OK     =========== */

.inputOk {
    transition: 500ms;
    border: 1px solid rgb(0, 255, 13) !important;
}

/* =========== ANIMATIONS =========== */

.grow {
    display: inline !important;
    animation: grow 500ms ease-in forwards;
}

@keyframes grow {
    0% {
        height: 0px;
    }
    100% {
        height: 70px;
    }
}
